.card-container {
  margin: 0.1rem;
  float:left
}
input {
  width: 40%;
}
mat-card-header {
  font-size: small;
  margin: 0.1rem;
}
mat-card-content {
  margin: 0.1rem;
}

.status-icon {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
