<div class="card-continer">
  <mat-card-header>
    <mat-card-title class="card-title">
      {{ period?.title }}
      <div class="status-icon">
        <mat-icon
          *ngIf="showIcon"
          [fontIcon]="iconName"
          [color]="iconColor"
        ></mat-icon>
      </div>
    </mat-card-title>
  </mat-card-header>
  <div class="metric-cards">
    <mat-card-content class="dashboard-card-content">
      <div>
        <app-metric-card
          #metric
          [metricValuePlaceholder]="2.5"
          metricName="Debt Ratio"
          [min]="0.0"
          [max]="3.0"
          [boundsMargin]="0.5"
          [metricBounds]="'upper'"
        ></app-metric-card>
        <app-metric-card
          #metric
          [metricValuePlaceholder]="7.5"
          metricName="Inventory Ratio"
          [min]="5.0"
          [max]="10.0"
          [boundsMargin]="1.0"
          [metricBounds]="'both'"
        ></app-metric-card>
        <app-metric-card
          #metric
          [metricValuePlaceholder]="1.25"
          metricName="Debt Service Coverage Ratio (DSCR)"
          [min]="1.25"
          [max]="9999.0"
          [boundsMargin]="0.2"
          [metricBounds]="'lower'"
        ></app-metric-card>
        <app-metric-card
          #metric
          [metricValuePlaceholder]="70"
          metricName="Loan-to-Value Ratio (LTV)"
          [min]="0"
          [max]="75"
          [boundsMargin]="4.9"
          [metricBounds]="'upper'"
        ></app-metric-card>
        <app-metric-card
          #metric
          [metricValuePlaceholder]="1.3"
          metricName="Current Ratio"
          [min]="1.5"
          [max]="9999.0"
          [boundsMargin]="0.3"
          [metricBounds]="'lower'"
        ></app-metric-card>
        <app-metric-card
          #metric
          [metricValuePlaceholder]="2.5"
          metricName="Profit Margin"
          [min]="1.5"
          [max]="9999.0"
          [boundsMargin]="0.3"
          [metricBounds]="'lower'"
        ></app-metric-card>
        <app-metric-card
          #metric
          [metricValuePlaceholder]="1.25"
          metricName="Fixed Charge Coverage Ratio (FCCR)"
          [min]="1.25"
          [max]="9999.0"
          [boundsMargin]="0.2"
          [metricBounds]="'lower'"
        ></app-metric-card>
      </div>
    </mat-card-content>
  </div>
</div>
