<div class="metric-cards">
    <app-metric-card
      #metric
      [metricValuePlaceholder]="2.5"
      metricName="Debt Ratio"
    ></app-metric-card>
    <app-metric-card
      #metric
      [metricValuePlaceholder]="7.5"
      metricName="Inventory Ratio"
    ></app-metric-card>
    <app-metric-card
      #metric
      [metricValuePlaceholder]="1.25"
      metricName="Debt Service Coverage Ratio (DSCR)"
    ></app-metric-card>
    <app-metric-card
      #metric
      [metricValuePlaceholder]="70"
      metricName="Loan-to-Value Ratio (LTV)"
    ></app-metric-card>
    <app-metric-card
      #metric
      [metricValuePlaceholder]="1.3"
      metricName="Current Ratio"
    ></app-metric-card>
    <app-metric-card
      #metric
      [metricValuePlaceholder]="2.5"
      metricName="Profit Margin"
    ></app-metric-card>
    <app-metric-card
      #metric
      [metricValuePlaceholder]="1.25"
      metricName="Fixed Charge Coverage Ratio (FCCR)"
    ></app-metric-card>
</div>
