.metric-cards {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.status-action-panel {
    display: flex;
    flex-direction: column;
}

.response{
    white-space: pre-line;
    text-align: left;
    float: left;
}