<div class="grid-container">
  <h1 class="mat-h1">nIQAnalyst Pro Max +</h1>
  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
          </mat-card-title>
        </mat-card-header>
        <ng-container
          *ngIf="isPeriod(card); then periodCard; else decisionCard"
        >
          <div>Card Content Here</div>
        </ng-container>
        <ng-template #periodCard>
          <mat-card-content class="dashboard-card-content">
            <div>
              <app-metrics #metrics [period]="card"></app-metrics>
            </div>
          </mat-card-content>
        </ng-template>
        <ng-template #decisionCard>
          <mat-card-content class="dashboard-card-content">
            <div class="status-action-panel">
              <span><ng-content></ng-content></span>
            </div>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions class="decision-buttons">
            <button mat-raised-button color="primary" (click)="makeCall()">Get Approvals</button>
            <button mat-raised-button color="accent" (click)="findAtRisk()">Identify at risk</button>

            <button mat-stroked-button (click)="addPeriod()">Create New Period</button>
          </mat-card-actions>
        </ng-template>
        
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

