<div class="grid-container">
  <h1 class="mat-h1">nIQAnalyst Pro Max +</h1>
  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card">
        <ng-container
          *ngIf="isPeriod(card); then periodCard; else decisionCard"
        >
          <div>Card Content Here</div>
        </ng-container>
        <ng-template #periodCard>
          <app-metrics #metrics [period]="card" [approvalOptions]="approvalOptions"></app-metrics>
        </ng-template>
        <ng-template #decisionCard>
          <mat-card-header>
            <mat-card-title class="card-title">
              {{ card.title }}
              <div class="status-icon">
                <mat-icon
                  *ngIf="showIcon"
                  [fontIcon]="iconName"
                  [color]="iconColor"
                ></mat-icon>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <ng-container *ngIf="!hasAnalysis; then statusIcon; else analysisContent "></ng-container>
            <ng-template #analysisContent>
              <div class="status-action-panel">
                <span><ng-content></ng-content></span>
              </div>
            </ng-template>
            <ng-template #statusIcon>
              <div class="badge-container">
                <mat-icon [fontIcon]="badgeName" class="badge" [color]="badgeColor"></mat-icon>
              </div>
            </ng-template>
          </mat-card-content>
          <mat-divider></mat-divider>
          <section *ngIf="isWorking">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </section>
          <mat-card-actions class="decision-buttons">
            <button mat-stroked-button (click)="addPeriod()">
              Create New Period
            </button>
            <button mat-raised-button color="primary" (click)="makeCall()" [disabled]="!isApprovalChecked || isWorking" *ngIf="!hasAnalysis">
              Get Analysis
            </button>
            <button mat-raised-button color="accent" (click)="findAtRisk()">
              Submit for Approval
            </button>
            <!-- <button mat-raised-button color="primary" (click)="showQuestions()" *ngIf="hasAnalysis">
              Customer Follow Ups
            </button> -->
          </mat-card-actions>
        </ng-template>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
